.button{
  border: 1px solid blue;
  padding: 16px;
  background-color: green;
  font: inherit;
  color: white;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(54, 165, 54);
  font: inherit;
  color: black;
}

.buttonClicked{
  background-color: red;
}

.buttonClicked:hover{
  background-color: salmon;
}